==========================================
------- Machine learning libraries -------
==========================================
numpy
pandas
scikit-learn
torch

==========================================
-------- Geospatial data handling --------
==========================================
geopandas
shapely

==========================================
----------- Data augmentation ------------
==========================================
imbalanced-learn

==========================================
--------- Bayesian deep learning ---------
==========================================
bayesian-torch
pytagi

==========================================
--------------- Utilities ----------------
==========================================
matplotlib
tqdm
psutil
fire
